@page
@model SchedulingSystemWeb.Pages.Tutor.Home.IndexModel
@using System.Globalization
@{
 ViewData["Title"] = "Your Calendar";
    var firstDayOfMonth = new DateTime(Model.CurrentDate.Year, Model.CurrentDate.Month, 1);
    var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);
    int daysInMonth = DateTime.DaysInMonth(Model.CurrentDate.Year, Model.CurrentDate.Month);
    int firstDayOfWeek = (int)CultureInfo.CurrentCulture.DateTimeFormat.FirstDayOfWeek;
    int currentDayOfWeek = (int)firstDayOfMonth.DayOfWeek;
    int leadingDays = (currentDayOfWeek - firstDayOfWeek + 7) % 7;
}

  <h2 class="text-primary">@ViewData["Title"]</h2>
  <div>
    <h4>Upcoming Bookings with Students</h4>
    @if (Model.nextBookings.Any())
    {
        
        <div class="container">
            <div class="row">
                @foreach (var booking in Model.nextBookings)
                {
                     <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                    
                                        
                                <p class="card-title">Subject: @booking.Subject</p>
                                <hr />
                                <p class="card-text">Date: @booking.StartTime.ToShortDateString()</p>
                                <p class="card-text">@booking.StartTime.ToShortTimeString() - @booking.StartTime.AddMinutes(booking.Duration).ToShortTimeString()</p>
                                <a asp-page="/Teacher/Appointments/Index" asp-route-id="@booking.Id" class="btn btn-primary">More Info</a>       
                                    
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <p>No upcoming bookings found.</p>
    }
</div>
<div>
    <h4>Upcoming Appointments with Providers</h4>
    @if (Model.nextAppointments.Any())
    {
        
        <div class="container">
            <div class="row">
                @foreach (var booking in Model.nextAppointments)
                
                {
                     <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                    
                                       
                                <p class="card-title">Subject: @booking.Subject</p>
                                <hr />
                                <p class="card-text">Date: @booking.StartTime.ToShortDateString()</p>
                                <p class="card-text">@booking.StartTime.ToShortTimeString() - @booking.StartTime.AddMinutes(booking.Duration).ToShortTimeString()</p>
                                <a asp-page="/Teacher/Appointments/Index" asp-route-id="@booking.Id" class="btn btn-primary">More Info</a>       
                                    
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <p>No upcoming appointments found.</p>
    }
</div>
<label>Categories</label>
<div id="categoriesBox">
    @foreach (var category in Model.categoryList)
    {
        <div class="form-check form-check-inline">
            <label class="form-check-label" for="category-@category.Id">
                <span style="display: inline-block; width: 15px; height: 15px; background-color: @category.Color; margin-right: 5px;"></span>
                @category.Name
            </label>
        </div>
    }
</div>
<br />
<a class="btn btn-success" style="float:right; margin-left:10px;" asp-page="/Teacher/Availabilities/Upsert">Create Availability</a>
<a class="btn btn-danger" style="float:right; margin-left:10px;" asp-page="/Student/ListOfProviders">Book an Appointment</a>
<!-- Tab navigation buttons -->
<ul class="nav nav-tabs" id="calendarTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="weekly-tab" data-bs-toggle="tab" data-bs-target="#weekly" type="button" role="tab" aria-controls="weekly" aria-selected="true">Weekly</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="monthly-tab" data-bs-toggle="tab" data-bs-target="#monthly" type="button" role="tab" aria-controls="monthly" aria-selected="false">Monthly</button>
    </li>
</ul>
<!-- Tab content -->
<div class="tab-content" id="calendarTabsContent">
    <!-- Weekly Schedule Tab -->
    <div class="tab-pane fade show active" id="weekly" role="tabpanel" aria-labelledby="weekly-tab">
        <div class="container">
            <!-- Weekly Calendar and its navigation buttons -->
            <div class="container">
                <!-- Weekly Calendar -->
                <br>
                <button type="button" class="btn btn-primary" style="float: right; margin-left: 10px;" onclick="location.href='?handler=NextWeek'">Next Week</button>
                <button type="button" class="btn btn-primary" style="float: right; margin-left: 10px;" onclick="location.href='?handler=PreviousWeek'">Previous Week</button>
               
                <button type="button" class="btn btn-secondary" style="float: right;" onclick="location.href='?handler=TodayWeek'">Today</button>
                @if (Model.WeekDays.Any())
{
                    var firstDay = Model.WeekDays.First();
                    var lastDay = Model.WeekDays.Last();
                    string displayWeek;

                    if (firstDay.Month != lastDay.Month)
                    {
                        // Week spans two different months
                        displayWeek = firstDay.ToString("MMMM dd") + " - " + lastDay.ToString("MMMM dd");
                    }
                    else
                    {
                        // Week is within the same month
                        displayWeek = firstDay.ToString("MMMM") + " Week of " + firstDay.ToString("dd") + " - " + lastDay.ToString("dd");
                    }

                    <h3>@displayWeek</h3>
                }
                else
                {
                    <h3>@Model.CurrentMonthName</h3>
                }

                <table class="calendar">
                    <thead>
                        <tr class="week-header">
                            <th class="time-header">Time</th>
                            @foreach (var day in Model.WeekDays)
                            {
                                <th class="day-header @((day.Date == DateTime.Today) ? "today" : "")">
                                    @day.ToString("ddd dd")
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (var hour = 0; hour < 24; hour++)
                    {
                        <tr class="week-row">
                            <td class="hour">@hour:00</td>
                            @foreach (var day in Model.WeekDays)
                            {
                                <td class="hour-cell @((day.Date == DateTime.Today) ? "today" : "")">
                                    <!-- Display bookings for the day and hour -->
                                    @foreach(var booking in Model.ViewBookings.Where(b => b.StartTime.Date == day.Date && b.StartTime.Hour == hour))
                                    {
                                        string style = "";
                                        string textColor = "black";
                                        if (booking.CategoryID != null)
                                        {
                                            var color = Model.GetBookingColors(booking.CategoryID);
                                            style = $"background-color: {color}; border: 4px solid #4C0E7D;";
                                            textColor = Model.GetTextColor(color);
                                            style += ");";
                                        }
                                        else
                                        {
                                            var color = "#4C0E7D";
                                            style = $"background-color: {color}; border: 4px solid #000000;";
                                            textColor = Model.GetTextColor(color);
                                            style += ");";
                                        }

                                        <a asp-page="/Teacher/Appointments/Index" asp-route-id="@booking.Id">
                                                
                                            <div class="card mb-3" style="@style; color: @textColor;">
                                                <div class="card-header">@booking.Subject</div>
                                                <div class="card-body">
                                                    @booking.StartTime.ToShortTimeString()
                                                    @Model.GetUserName(booking.User)
                                                </div>
                                            </div>                                              
                                        </a>
                                        }
                                    @foreach(var availability in Model.Availabilities.Where(a => a.StartTime.Date == day.Date && a.StartTime.Hour <= hour && a.EndTime.Hour > hour && !Model.IsAvailabilityBooked(a)))
                                    {
                                            var categoryColors = Model.GetCategoryColors(availability.Category);
                                            string style = "";
                                            string textColor = "black";
                                            if (categoryColors.Count == 1)
                                            {
                                                var color = categoryColors.First();
                                                style = $"background-color: {color};";
                                                textColor = Model.GetTextColor(color);
                                            }
                                            else if (categoryColors.Count > 1)
                                            {
                                                int colorCount = categoryColors.Count;
                                                float percentagePerColor = 100f / colorCount;
                                                style = "background: repeating-linear-gradient(to right, ";

                                                for (int i = 0; i < colorCount; i++)
                                                {
                                                    var color = categoryColors[i];
                                                    var startPercent = i * percentagePerColor;
                                                    var endPercent = (i + 1) * percentagePerColor;
                                                    style += $"{color} {startPercent}%, {color} {endPercent}%";
                                                    if (i < colorCount - 1)
                                                    {
                                                        style += ", ";
                                                    }
                                                }
                                                style += ");";
                                                textColor = Model.GetTextColor(categoryColors[0]);
                                            }
                                            <a asp-page="/Teacher/Availabilities/Upsert" asp-route-id="@availability.Id" class="availability-link">
                                                <div class="card mb-3" style="@style; color: @textColor;">
                                                    <div class="card-header">Available</div>
                                                    <div class="card-body">
                                                        @availability.StartTime.ToString("HH:mm") - @availability.EndTime.ToString("HH:mm")
                                                    </div>
                                                </div>
                                            </a>
                                        }
                                </td>
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <!-- Monthly Schedule Tab -->
    <div class="tab-pane fade" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
        <div class="container">
            <!-- Monthly Calendar and its navigation buttons -->
             <div class="container">
                <!-- Monthly Calendar -->
                <br />
                <button type="button" class="btn btn-primary" style="float: right; margin-left: 10px;" onclick="location.href='?handler=NextMonth'">Next Month</button>
                <button type="button" class="btn btn-primary" style="float: right; margin-left: 10px;" onclick="location.href='?handler=PreviousMonth'">Previous Month</button>               
                <button type="button" class="btn btn-secondary" style="float: right;" onclick="location.href='?handler=TodayMonth'">Today</button>
                <h3>@Model.CurrentMonthName @Model.CurrentDate.Year</h3>
                <table id="monthly-calendar" class="calendar">
                    <thead>
                        <tr class="month-header">
                            @for (int i = 0; i < 7; i++)
                            {
                                <th class="day-header">
                                    @CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedDayName((DayOfWeek)((firstDayOfWeek + i) % 7))
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                       @for (int i = 0; i < leadingDays + daysInMonth; i++)
                    {
                        if (i % 7 == 0)
                        {
                            @:<tr class="week-row">
                        }

                        if (i < leadingDays)
                        {
                            <td class="empty-day"></td>
                        }
                        else
                        {
                            var currentDay = firstDayOfMonth.AddDays(i - leadingDays);
                            <td class="month-day @(currentDay.Date == DateTime.Today.Date ? "today" : "")">
                                @currentDay.Day
                                <!-- Display bookings for the day -->
                                @foreach(var booking in Model.Bookings.Where(b => b.StartTime.Date == currentDay))
                                        {

                                            string style = "";
                                            string textColor = "black";
                                            if (booking.CategoryID != null)
                                            {
                                                var color = Model.GetBookingColors(booking.CategoryID);
                                                style = $"background-color: {color}; border: 4px solid #4C0E7D;";
                                                textColor = Model.GetTextColor(color);
                                                style += ");";
                                            }
                                            else
                                            {
                                                var color = "#4C0E7D";
                                                style = $"background-color: {color}; border: 4px solid #000000;";
                                                textColor = Model.GetTextColor(color);
                                                style += ");";
                                            }
                                            <a asp-page="/Teacher/Appointments/Index" asp-route-id="@booking.Id">
                                                
                                                    <div class="card mb-3" style="@style; color: @textColor;">
                                                    <div class="card-header">@booking.Subject</div>
                                                    <div class="card-body">
                                                        @booking.StartTime.ToShortTimeString()
                                                        @Model.GetUserName(booking.User)
                                                    </div>
                                                </div>                                              
                                            </a>
                                        }
                                @foreach(var availability in Model.Availabilities.Where(a => a.StartTime.Date == currentDay && !Model.IsAvailabilityBooked(a)))
                                        {
                                            var categoryColors = Model.GetCategoryColors(availability.Category);
                                            string style = "";
                                            string textColor = "black";
                                            if (categoryColors.Count == 1)
                                            {
                                                var color = categoryColors.First();
                                                style = $"background-color: {color};";
                                                textColor = Model.GetTextColor(color);
                                            }
                                            else if (categoryColors.Count > 1)
                                            {
                                                int colorCount = categoryColors.Count;
                                                float percentagePerColor = 100f / colorCount;
                                                style = "background: repeating-linear-gradient(to right, ";

                                                for (int j = 0; j < colorCount; j++)
                                                {
                                                    var color = categoryColors[j];
                                                    var startPercent = j * percentagePerColor;
                                                    var endPercent = (j + 1) * percentagePerColor;
                                                    style += $"{color} {startPercent}%, {color} {endPercent}%";
                                                    if (j < colorCount - 1)
                                                    {
                                                        style += ", ";
                                                    }
                                                }
                                                style += ");";
                                                textColor = Model.GetTextColor(categoryColors[0]);
                                            }
                                            <a asp-page="/Teacher/Availabilities/Upsert" asp-route-id="@availability.Id" class="availability-link">
                                                <div class="card mb-3" style="@style; color: @textColor;">
                                                    <div class="card-header">Available</div>
                                                    <div class="card-body">
                                                        @availability.StartTime.ToString("HH:mm") - @availability.EndTime.ToString("HH:mm")
                                                    </div>
                                                </div>
                                            </a>
                                        }
                                
                            </td>
                        }

                        if ((i + 1) % 7 == 0)
                        {
                            @:</tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // Handle the tab switching and also call the Today handler
        document.querySelectorAll('.nav-link').forEach(function(navLink) {
            navLink.addEventListener('click', function (e) {
                let currentTab = new bootstrap.Tab(navLink);
                currentTab.show();

                // Check the id of the clicked tab and call the respective Today handler
                if (navLink.id === 'weekly-tab') {
                    window.location.href = '?handler=Today';
                } else if (navLink.id === 'monthly-tab') {
                    window.location.href = '?handler=TodayMonth';
                }

                e.preventDefault();
            });
        });

        // Original code to set the active tab on page load based on TempData
        document.addEventListener('DOMContentLoaded', (event) => {
            let activeTab = '@TempData["ActiveTab"]';
            if (activeTab === "monthly") {
                new bootstrap.Tab(document.querySelector('#monthly-tab')).show();
            } else {
                new bootstrap.Tab(document.querySelector('#weekly-tab')).show();
            }
        });
    </script>
}
