@page
@model SchedulingSystemWeb.Pages.Student.ListOfProvidersModel

<form id="searchForm" method="post" class="mt-3">
    <div class="row">
        <div class="col-md-4">
            <select name="role" class="form-select" required>
                <option value="">-- Select Role --</option>
                @foreach (var role in Model.Roles)
                {
                    if (role.Name != "STUDENT" && role.Name != "ADMIN")
                    {
                        <option value="@role.Name">@role.Name</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-4">
            <select name="department" class="form-select" required>
                <option value="">-- Department --</option>
                @foreach (var d in Model.departmentList)
                {
                    <option value="@d.Id">@d.Name</option>
                }
            </select>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            @foreach (var location in Model.locationTypesList)
            {
                <div class="form-check">
                    <input type="checkbox" name="locationTypeId" value="@location.Id" class="form-check-input" id="location-@location.Id">
                    <label class="form-check-label" for="location-@location.Id">@location.LocationTypeName</label>
                </div>
            }
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<br />
<form id="newStudentForm" method="post">
    <input type="hidden" name="role" value="ADVISOR">
    <input type="hidden" name="department" value="2">
    <button type="submit" class="btn btn-secondary">New Student</button>
</form>
<br />
<form id="virtualAdvisingForm" method="post">
    <input type="hidden" name="role" value="ADVISOR">
    <input type="hidden" name="department" value="1">
    <input type="hidden" name="locationTypeId[]" value="1">
    <button type="submit" class="btn btn-secondary">Advising Virtual</button>
</form>

<script>
    document.getElementById("newStudentForm").addEventListener("submit", function (event) {
        // Prevent the default form submission behavior
        event.preventDefault();
        // Submit the form
        document.getElementById("newStudentForm").submit();
    });
    document.getElementById("virtualAdvisingForm").addEventListener("submit", function (event) {
        // Prevent the default form submission behavior
        //event.preventDefault();
        // Submit the form
        //document.getElementById("virtualAdvisingForm").submit();
    });
    document.getElementById("searchForm").addEventListener("submit", function (event) {
        var role = document.getElementsByName("role")[0].value;
        var department = document.getElementsByName("department")[0].value;

        if (role === "" || department === "") {
            event.preventDefault(); // Prevent form submission
            alert("Please select both a role and a department.");
        }
    });
</script>