@page
@model SchedulingSystemWeb.Pages.Student.ListOfProvidersModel

<form id="searchForm" method="post">
    <select name="role" required>
        <option value="">Select Role</option>
        @foreach (var role in Model.Roles)
        {
            if (role.Name != "STUDENT") @* this makes sure that student schedules can't be searched' *@
            {
                <option value="@role.Name">@role.Name</option>
            }          
        }
    </select>

    <!-- Deparment dropdown-->
    <select name="department" required>
        <option value="">Department</option>
        @foreach(var d in Model.departmentList)
        {
            <option value ="@d.Id">@d.Name</option>
        }
    </select>

    <div id="providerProfilesDropdown">
        <select>
            @foreach (var d in Model.departmentList)
            {
                <option value="@d.Id">@d.Name</option>
            }
        </select>
    </div>
    <button type="submit">Search</button>
</form>
<button>New Student</button> <!--call General deaprment-->

<script>
    document.getElementById("searchForm").addEventListener("submit", function (event) {
        var role = document.getElementsByName("role")[0].value;
        var department = document.getElementsByName("department")[0].value;

        if (role === "" || department === "") {
            event.preventDefault(); // Prevent form submission
            alert("Please select both a role and a department.");
        }
    });
</script>
<script>
    document.getElementsByName("role")[0].addEventListener("change", updateProviderProfilesDropdown);
    document.getElementsByName("department")[0].addEventListener("change", updateProviderProfilesDropdown);

    function updateProviderProfilesDropdown() {
        var role = document.getElementsByName("role")[0].value;
        var department = document.getElementsByName("department")[0].value;

        if (role !== "" && department !== "") {
            fetch(`/Student/ListProviders?role=${role}&department=${department}`)
                .then(response => response.json())
                .then(data => {
                    var dropdownHTML = `<select name="providerProfile" required><option value="">Select Provider</option>`;
                    data.forEach(profile => {
                        dropdownHTML += `<option value="${profile.Id}">${profile.userFullName}</option>`;
                    });
                    dropdownHTML += `</select>`;
                    document.getElementById("providerProfilesDropdownPlaceholder").innerHTML = dropdownHTML;
                })
                .catch(error => console.error('Unable to get provider profiles:', error));
        }
    }

</script>