@page
@model SchedulingSystemWeb.Pages.Teacher.Appointments.IndexModel
@{
}


<body>
    <h1 class="text-center">Appointment with @Model.student.FullName</h1>
    <div class="container p-4">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="rounded p-3 border border-primary" style="margin: -10px;">
                    <!-- Content here -->
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="info1" class="form-label"><strong>Meeting Name</strong></label>
                                <input type="text" class="form-control" id="info1" asp-for="@Model.booking.Subject" disabled>
                            </div>
                            @if (Model.booking.WNumber != null)
                            {
                                <div class="mb-3">
                                    <label for="info8" class="form-label"><strong>WNumber</strong><label>
                                    <input type="text" class="form-control" id="info8" asp-for="@Model.booking.WNumber" disabled>
                                </div>
                            }
                            <div class="mb-3">
                                <label for="info2" class="form-label"><strong>For Course</strong></label>
                                <input type="text" class="form-control" id="info2" asp-for="@Model.booking.Subject" disabled>
                            </div>
                            @if(Model.booking.Note != null)
                            {
                                <div class="mb-3">
                                    <label for="info3" class="form-label"><strong>Meeting Description</strong></label>
                                    @{
                                        string note = Model.booking.Note;
                                        @Html.Raw(note)
                                        ;
                                    }
                                </div>
                            }
                            
                            <form method="post">
                                <div class="mb-3">
                                    
                                    <button type="submit" class="btn btn-success" id="info3"> Add To Google </button>
                                </div>
                            </form>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="info5" class="form-label"><strong>Student</strong></label>
                                <input type="text" class="form-control" id="info5" asp-for="@Model.student.FullName" disabled>
                            </div>
                            <div class="mb-3">
                                <label for="info6" class="form-label"><strong>Date: </strong></label>
                                <label>@Model.booking.StartTime.ToShortDateString()</label>
                            </div>
                            <div class="mb-3">
                                <label for="info7" class="form-label"><strong>Time:</strong></label>
                                <label>@Model.booking.StartTime.ToShortTimeString() to @Model.booking.StartTime.AddMinutes(Model.booking.Duration).ToShortTimeString()</label>
                            </div>
                            <div class="mb-3">
                                <label for="info7" class="form-label"><strong>Location:</strong></label>
                                @if (Model.location.LocationName == "Virtual")
                                {
                                    <label>Virtual</label>
                                }
                                else
                                {
                                    <label>@Model.location.LocationName Room @Model.location.RoomNumber</label>
                                }
                            </div>
                            @if(Model.studprofile.WNumber != null)
                            {
                                <div class="mb-3">
                                    <label for="info9" class="form-label"><strong>Student WNumber:</strong></label>
                                    <label>@Model.studprofile.WNumber</label>
                                </div>
                            }
                            
                            @{
                                if (Model.filepath != null && Model.filepath.Count() > 0)
                                {
                                    foreach (var path in Model.filepath)
                                    {
                                        string[] parts = path.Split('\\');
                                        string fileName = parts[parts.Length - 1];
                                        <a href="@Url.Content(path)" download="@fileName" class="btn btn-info">Download File</a>
                                        <br />
                                    }
                                }                      
                            }
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col">
                            <a href="/Teacher/Availabilities" type="button" class="btn btn-primary">Back</a>
                            <a asp-page="/Student/Home/Delete" asp-route-id="@Model.booking.Id" class="btn btn-danger">Cancel Booking</a>
                            @{
                                string mail = "mailto:" + @Model.student.Email;
                            }
                            <a href="@mail" class="btn btn-dark" target="_blank">Email Student</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    
    
</body>
