@page
@model SchedulingSystemWeb.Pages.Student.Bookings.UpsertModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });

        document.addEventListener('DOMContentLoaded', function () {
            const fileUploadContainer = document.getElementById('fileUploadContainer');
            const addMoreButton = fileUploadContainer.querySelector('.add-more');

            addMoreButton.addEventListener('click', function () {
                const fileUploadDiv = document.createElement('div');
                fileUploadDiv.classList.add('file-upload');
                fileUploadDiv.innerHTML = `
                        <input type="file" class="form-control" name="file[]" />
                                <button type="button"class="remove btn btn-danger m-10">Remove</button>
                    `;
                fileUploadContainer.appendChild(fileUploadDiv);

                const removeButton = fileUploadDiv.querySelector('.remove');
                removeButton.addEventListener('click', function () {
                    fileUploadContainer.removeChild(fileUploadDiv);
                });
            });
        });
       
    </script>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2">
                <a class="nav-link text-dark" asp-area="" asp-page="/Student/Bookings/Index"><button class="btn btn-secondary">Back</button></a>
            </div>
            <div class="col-md-5">
                <form method="post" enctype="multipart/form-data" id="myForm">
                    <div class="form-group">
                        <label for="professorName">Professor Name:</label>
                        <input type="text" class="form-control" id="professorName" value="@Model.fullName" disabled>
                    </div>
                    <div class="form-group">
                        <label for="location">Location:</label>
                        <input type="text" class="form-control" id="location" value="@Model.location.LocationName" disabled>
                    </div>
                    <div class="form-group">
                        @if(Model.ProvRole[0] == "ADVISOR")
                        {
                            <label for="course">Subject</label>
                            <input type="text" asp-for="course" class="form-control" id="course" placeholder="Enter Subject" required>
                        }
                        else
                        {
                            <label for="course">Course:</label>
                            <input type="text" asp-for="course" class="form-control" id="course" placeholder="Enter course" required>
                        }
                       
                    </div>
                    <div class="form-group">
                        <label>Categories</label>
                        <div id="categoriesBox">
                            @foreach (var category in Model.AvCategories)
                            {
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="CategoryIds" id="category-@category.Id" value="@category.Id" @(Model.newBooking.CategoryID == category.Id ? "checked" : "")>
                                    <label class="form-check-label" for="category-@category.Id">
                                        <span style="display: inline-block; width: 15px; height: 15px; background-color: @category.Color; margin-right: 5px;"></span>
                                        @category.Name
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        @if (Model.prov.BookingPrompt != null)
                        {
                            <label for="description">@Model.prov.BookingPrompt:</label>
                        }
                        else
                        {
                            <label for="description">Description (Optional):</label>
                        }
                        <textarea id="mytextarea" class="form-control" asp-for="description" id="description" placeholder="Enter description"></textarea>
                    </div>
                        <div class="form-group" id="fileUploadContainer">
                            <label class="form-label">File Upload (optional)</label>
                            <div class="file-upload">
                                <input type="file" class="form-control" name="file[]" />
                                <button type="button"class="add-more btn btn-primary m-10">Add More</button>
                            </div>
                        </div>
                    <br />
                    <div class="form-group">
                    @{
                        string startTime = @Model.availability.StartTime.ToUniversalTime().ToString("yyyyMMddTHHmmssZ");
                        string endTime = @Model.availability.EndTime.ToUniversalTime().ToString("yyyyMMddTHHmmssZ");
                        string encodedNote = System.Web.HttpUtility.UrlEncode(@Model.newBooking.Note);
                        string encodedLocation = System.Web.HttpUtility.UrlEncode(@Model.location.LocationName);
                        string encodedName = System.Web.HttpUtility.UrlEncode(@Model.fullName);
                        string link = "http://www.google.com/calendar/event?action=TEMPLATE&text=Meeting%20with%20" + @encodedName + "&dates=" + @startTime +
                        "/" + @endTime + "&details=" + @encodedNote + "&location=" + @encodedLocation;
                        <a href=@link target="_blank" class="btn btn-secondary">Add to Google Cal</a>
                    }
                    </div>
                    <br />
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="meetingTime">Time:</label>
                    <input type="text" class="form-control" id="meetingTime" value="@Model.startEndTime" disabled>
                </div>
                <div class="form-group">
                    <label for="meetingDate">Date:</label>
                    <input type="text" class="form-control" id="meetingDate" value="@Model.availability.StartTime.Date" disabled>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('myForm').addEventListener('submit', function (event) {
            const radios = document.querySelectorAll('input[type="radio"][name="CategoryIds"]');
            let selected = false;
            radios.forEach(function (radio) {
                if (radio.checked) {
                    selected = true;
                }
            });
            if (!selected) {
                event.preventDefault(); // prevent form submission
                alert('Please select a category.'); // show warning message
            }
        });
    </script>
</body>
</html>