@page
@model SchedulingSystemWeb.Pages.Teacher.Locations.IndexModel
@{
    ViewData["Title"] = "Locations";
}

<h2 class="text-primary">@ViewData["Title"]</h2>
@* <partial name="_StatusMessage" for="StatusMessage" /> *@

<div class="row">
    <div class="col-md-6">
        @{
            if (!Model.Edit)
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">Virtual Meeting Link</p>
                            <hr />
                            <p class="card-text">
                                <input asp-for="RemoteLink" disabled="disabled" class="form-control" />
                            </p>
                            <form method="post">
                                <button type="submit" asp-page-handler="Edit" class="btn btn-primary">Edit</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <form method="post">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">Virtual</p>
                                <hr />
                                <p class="card-text">
                                    <input asp-for="RemoteLink" class="form-control" />
                                </p>
                                <button id="update-remoteLink-button" asp-page-handler="" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            }
        }
        
        
        <br />
        <br />
        <h4>
            Appointment Locations
        </h4>
        <a asp-page="/Teacher/Locations/Upsert" class="btn btn-success">Create a new Location</a>
        @foreach (var (location, campusName) in Model.locationCompoundList)
        {
            <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">@location.LocationName</p>
                    <hr />
                    <p class="card-text">@location.BuildingName</p>
                    <p class="card-text">@location.RoomNumber</p>
                    <p class="card-text">Campus: @campusName</p>
                    <a asp-page="/Teacher/Locations/Upsert" asp-route-id="@location.LocationId" class="btn btn-primary">Edit</a>
                </div>
            </div>
            </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script>

    </script>
}
